.navbar-brand {
    margin-left: 140px;
    background: teal;
    padding: 20px;

}

.container {
    width: 800px;
    background-color:white;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 200px;
    padding-bottom: 100px;
}
.text-wrap{
    float: left;
    margin: 15px;
    
}    

body {
    background-image: url(https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    /* background-color: lightgray; */
}


footer {
    text-align: center;
    padding: 20px;
    background-color: gray;
}

p {
    font-size: 25px;
}

.card-title {
    text-align: center;
}