.navbar-brand {
    margin-left: 140px;
    background: teal;
    padding: 20px;

}

.container {
    width: 800px;
    background-color:white;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
}

body {
    background-color:lightgray;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: black;
}