.navbar-brand {
    margin-left: 140px;
    background: teal;
    padding: 20px;

}

.container {
    width: 800px;
    background-color:white;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 200px;
    padding-bottom: 100px;
}
.text-wrap{
    float: left;
    margin: 15px;
    
}    

body {
    background-color: lightgray;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: gray;
}

p {
    font-size: 25px;
}

.card-title {
    text-align: center;
}